<div class="leftBox">
  <div class="top-content">
    <%= render :partial => 'hot_tags' %>
    <%= render :partial => 'query_filter' %>
    
  </div>
  
  <%= render :partial => 'market_filter' %>
</div>