<h4>关键字搜索</h4>
<div class="tl_searchgroup">
    <input type="text" size="30" placeholder="添加搜索词过滤组合" class="search j_filter_search_word" /><kbd id="search"></kbd>
    <div class="screening-conditions"></div>
</div>