<div class="leftBox">
  <h4>关键字搜索</h4>
  <p class="center"><input type="num" placeholder="" class="search j_filter_search_word" size="20" /></p>
  <div class="screening-conditions"></div>
  <h3 class="additional-style">排序</h3>
  <ul class="j_filter_order">
    <li sort="1d_return"><a href="javascript:">1日收益</a></li>
    <li sort="1m_return" class="cur"><a href="javascript:">1月收益</a></li>
    <li sort="1y_return"><a href="javascript:">1年收益</a></li>
    <li sort="start_date"><a href="javascript:">创建日期</a></li>
    <li sort="bullish"><a href="javascript:">社区观点比例</a></li>
    <li sort="hot"><a href="javascript:">热度</a></li>
  </ul>
  <div class="button">
    <button>
      <span class="button-bg">创建组合投资</span>
    </button>
  </div>
</div>