<a name="basicInfo"></a>
<div class="basic_information" id="basic_info">
  <h3>基本信息</h3>
  <div class="infoContent">
    <%=raw @basket.safe_description %>
  </div>
  <button id="shrink" class="w_btn large">展开</button>
</div>