
<div class="container errors">
  <div class="content">
    <h2>啊哦，迷路了！您访问的页面没有找到。</h2>
    <span>单击<a href="javascript:history.go(-1)" title="返回">返回</a> 或 <a href="/" title="回到首页继续">回到首页继续</a></span>
  </div>
</div>