<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title> 抱歉,没有找到该网页 </title>
  </head>
  <body>
    <%= render '/shared/analytics/gtm'%>
    <center>
      <br>
      <br>
      <table width=600 cellpadding=7 cellspacing=0 border=0>
        <tr>
          <td rowspan="2">
          <!-- <img src="" alt="Caishuo" /> -->
          </td>
          <td align=center>
          <font face=arial size=+1>
            很抱歉，无法找到您检索的信息。
          </font>
          </td>
        </tr>
        <tr>
          <td align=center>
          <font face=arial size=+1>
            请尝试访问我们的网站主页
            <b>
            <a href="https://www.caishuo.com">返回首页</a>
            </b>
          </font>
          </td>
        </tr>
      </table>
    </center>
    <%= render '/shared/analytics' -%>
  </body>
</html>
