<div class="comment">
  <div class="col50 ">什么是MACD指标</div><div class="col50 "><a id="showmore" class="more" href="javascript:void(0);">展开释义</a></div>
</div>
<div class="comment-detail hide">
  <p><strong>策略说明</strong></p>
  <p>MACD称为指数平滑异同平均线，是从双指数移动平均线发展而来的，由快的指数移动平均线（EMA）减去慢的指数移动平均线，MACD的意义和双移动平均线基本相同，但阅读起来更方便。当MACD从负数转向正数，是买的信号。当MACD从正数转向负数，是卖的信号。当MACD以大角度变化，表示快的移动平均线和慢的移动平均线的差距非常迅速的拉开，代表了一个市场大趋势的转变。</p>
  <p><strong>选股策略</strong></p>
  <p>
    12日EMA的计算：EMA12 = 前一日EMA12 X 11/13 + 今日收盘 X 2/13<br>
    26日EMA的计算：EMA26 = 前一日EMA26 X 25/27 + 今日收盘 X 2/27<br>
    差离值（DIF）的计算： DIF = EMA12 - EMA26 。<br>
    根据差离值计算其9日的EMA，即离差平均值，是所求的DEA值。为了不与指标原名相混淆，此值又名DEA＝average of 9天（DIF）。<br>
    今日DEA = （前一日DEA X 8/10 + 今日DIF X 2/10）<br>
  </p>
  <p><strong>使用方法</strong></p>
  <p>
    DIF、DEA均为正，DIF向上突破DEA，买入信号参考，金叉。<br>
    DIF、DEA均为负，DIF向下跌破DEA，卖出信号参考，死叉。
  </p>
</div>