<div class="comment">
  <div class="col50 ">什么是财说Score</div><div class="col50 "><a id="showmore" class="more" href="javascript:void(0);">展开释义</a></div>
</div>
<div class="comment-detail hide">
  <p><strong>策略说明</strong></p>
  <p>取一个公司六个不同维度的价值指标，与其所在行业平均值做对比，算出被低估的个股。</p>
  <p><strong>选股策略</strong></p>
  <p>
    六个价值指标分别是：市盈率，收入增长率，现金流，毛利率，资产回报率，市净率<br>
  </p>
  <p><strong>使用方法</strong></p>
  <p>
    财说Score分数越高，价值越高，可考虑买入股票。反之，就是价格被高估，可考虑卖出股票。
  </p>
</div>