<div class="comment">
  <div class="col50 ">什么是WR指标</div><div class="col50 "><a id="showmore" class="more" href="javascript:void(0);">展开释义</a></div>
</div>
<div class="comment-detail hide">
  <p><strong>策略说明</strong></p>
  <p>中文称威廉指标，股票术语，指标表示的涵义是当天的收盘价在过去一段日子的全部价格范围内所处的相对位置，是一种兼具超买超卖和强弱分界的指标。它主要的作用在于辅助其他指标确认讯号。</p>
  <p><strong>选股策略</strong></p>
  <p>
    WR1一般是6天买卖强弱指标；<br>
    WR2一般是10天买卖强弱指标。<br>
    以N日威廉指标为例，<br>
    WR(N) = 100 * [ HIGH(N)-C ] / [ HIGH(N)-LOW(N) ]<br>
    C：当日收盘价<br>
    HIGH(N)：N日内的最高价<br>
    LOW(n)：N日内的最低价<br>
  </p>
  <p><strong>使用方法</strong></p>
  <p>
    威廉指标大于80，就是超卖，可考虑买入股票<br>
    威廉指标小于20，就是超买，可考虑卖出股票
  </p>
</div>