<div class="box">
  <a href="/admin/home_settings/topic">设置热点</a>
  <a href="/admin/home_settings/basket">设置组合</a>
  <a href="/admin/home_settings/stock_search">设置股票搜索条件</a>
  <a href="/admin/home_settings/banners">设置banners</a>
  <a href="/admin/home_settings/users">关注的人</a>
  <%= link_to "手机发现推荐位", mobile_banners_admin_home_settings_path %>
  <%= link_to "手机理财推荐位", mobile_p2p_banners_admin_home_settings_path %>
  <%= link_to "app广告设置", mobile_ad_admin_home_settings_path %>
  <a href="/admin/home_settings/activities">活动</a>
</div>
