<h1 class="title">
  <span class="title_left">登录后首页--热点推荐</span>
  <span class="title_right"><a href="/admin/home_settings">返回首页设置</a></span>
</h1>

<%= render partial: "sub_menus" %>

<div class="box">
  <table class="grid_form">
    <thead>
      <tr>
        <th width="200"></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="sortable">
      <tr>
        <td class="field">当前热点：</td>
        <td>
          <% if @topic %>
            <%= link_to @topic.full_title, topic_path(@topic), target: "_blank" %>
          <% else %>
            尚未设置
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="field">设置热点：</td>
        <td>
          <input type="text" placeholder="请输入热点id" id="recommend_topic_id" size="10"/>
          <input type="button" value="保存" onclick="javascript:saveRecommendTopicId();"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  function saveRecommendTopicId(){
    var topic_id = $("#recommend_topic_id").val();
    $.post("/admin/home_settings/update_topic", {topic_id: topic_id}, function(){})
  }
</script>