<% if followed_baskets.size.zero? %>
  <% if @is_self %>
    <div class="noContents">
      <a class="addtoFocus" href="/baskets" target="_blank">添加组合</a>
    </div>
  <% else %>
    <div class="noContents">还没有关注过组合</div>
  <% end %>
<% else %>
<table>
  <thead>
    <tr>
      <td>名称</td>
      <td>一月回报</td>
      <td>创建至今回报</td>
      <td>净值(倍)</td>
      <td>创建天数</td>
      <td>关注</td>
    </tr>
  </thead>
  <tbody>
    <% followed_baskets.each do |basket| %>
      <%= render partial: "profiles/profile/basket_item_other", locals: {basket: basket, followed: @is_self ? true : basket.followed_by_user?(current_user.try(:id))} %>
    <% end %>
  </tbody>
  <% if next_page %>
  <tfoot>
    <tr>
      <th colspan="6"><a href="javascript:" class="viewmore">查看全部</a></th>
    </tr>
  </tfoot>
  <% end %>
</table>
<% end %>