<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=600" />
  <title>致财说首批用户</title>
</head>
<body>
  <div style="padding-top:40px;font-family:微软雅黑;">
    <div style="padding-left:30px;padding-bottom:30px;border-bottom:1px solid #dfe1e0;margin-bottom:47px;">
      <img src="<%=Setting.html_host%>/images/v2/mail-logo.png" alt="" />
    </div>
    <div style="padding-left:66px;width:70%;">
      <div style="color:#000000;font-size:18px;margin-bottom:30px;padding-left:3px;">尊敬的「财说」VIP用户：</div>
      <div style="min-width:600px;width:70%;background:#f4f6f8;padding:40px;color:#424458;font-size:14px;">
          <div style="font-weight:bold;"><storng>崭新的全球投资之旅即将开启，感谢您愿意与我们同行。</storng></div>
          <br />
          我们生活在一个正被互联网重塑的时代，见证它推倒一面面墙，让信息更加透明、也让世界更加扁平。今天，各种新生代互联网产品正以前所未有的方式改变着传统的金融规则，让证券市场不再只是大鳄们的游戏。
          <br />
          <br />
          也是在这样的背景下，我们，一群好玩又志趣相投的人聚在一起，做了一个叫「财说」的产品。在「财说」，您不仅可以找到在国内、香港、美国以及全世界所有主流股票交易所上市的优秀企业，还可以选购到固定收益类、公募基金以及对冲基金类理财产品。全球投资，一站下单，是不是很棒？
          <br />
          <br />
          我们相信社交时代每个人的原创力量，在「财说」，您可以充分发挥个人智慧，创建自己的热点、组合，并以此发现志同道合的投资牛人。
          <br />
          <br />
          在最重要的交易一环，「财说」与国际知名券商建立了无缝对接，尽可能地减少各种限制和门槛，让您感受顺畅又安全的交易体验。
          <br />
          <br />
          更多精彩还在后面，请与我们一起见证。「财说」目前仍处于内测阶段，交易功能正在最后调试，即将开通。现在，您只要点击以下链接、输入邀请码、注册登录，即可提前体验全新的全球投资之旅。<strong>而作为首批受邀用户，未来您也将在第一时间享受「财说」的所有优惠活动，对，是所有。</strong>
          <br />
          <br />
          财说官网：<a href="https://www.caishuo.com/#invite" target="_blank" style="color:#0038dc;">https://www.caishuo.com/</a>
          <br />
          请点击财说官网首页右上方 <strong style="font-size:140%;">注册</strong> 按钮进入免费注册流程（如下图）
          <br />
          您的VIP邀请码：<span style="color:#e4462e;font-size:120%;"><%=@invite_code%></span>
          <br />
          <br />
          <img style="width:150px;" src="<%=Setting.html_host%>/images/mailPic-1.png">
          <br />
          <br />
          如果您在使用中遇到任何问题，可随时通过电话客服联系到我们。<br />（财说专线：<span>400-771-8858）</span>或私信「财蜜」（扫描二维码添加）
          <br />
          <br />
          <img style="width:150px;" src="<%=Setting.html_host%>/images/QRcode.jpg">
          <br />
          <br />
          作为一家有理想的公司，尽管饱含热情也不遗余力，我们清楚自己仍有许多不足，您的反馈将是「财说」成长的重要力量。我们殷切期待着您提出宝贵建议。
          <br />
          <br />
          他们说投资是一场长途旅行，那么，一起上路吧。

      </div>
      <div style="font-size: 18px;color: #424458;padding: 30px 0;">财说团队</div>
    </div>
  </div>
</body>
</html>
