<h2>
  <strong>下一位组合投资大师，您好</strong>
</h2>

<div><includetail><tincludetail>
  <p align="left">感谢您第一时间给予「财说」的关注。&nbsp;</p>

  <p align="left">在经历过许多个日日夜夜的构筑和调试后，「财说」即将上线，而您也将作为受邀用户，与我们一同开启全新的海外投资之门。&nbsp;</p>

  <p align="left">这会是一个激动人心的产品。在「财说」，我们努力把「社交」、「交易」、「资讯」等元素放到一起，以保证不管您是入市多年的专业投资者，抑或是刚刚对投资感兴趣的新手，都能尝试到一种前所未有的海外投资方式。&nbsp;</p>

  <p align="left">好了，不再剧透。请随时准备接收「财说」发送的限量邀请码，并留意我们的官方微信（caishuo-caishuo）和微博（<a href="http://weibo.com/touzhuti" target="_blank">http://weibo.com/touzhuti</a>）的讯息。</p>

  <p align="left">嘿，不要错过尝鲜呐。</p>
  </tincludetail></includetail>
</div>
