<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=600" />
    <title>致财说首批用户</title>
  </head>
  <body>
    <div style="padding-top:40px;font-family:微软雅黑;">
      <div style="padding-left:30px;padding-bottom:30px;border-bottom:1px solid #dfe1e0;margin-bottom:47px;">
        <img src="<%= Setting.html_host %>/images/mail-logo.png" alt="" />
      </div>
      <div style="padding-left:66px;width:70%;">
        <div style="color:#000000;font-size:18px;margin-bottom:30px;padding-left:3px;">尊敬的「财说」VIP用户：</div>
        <div style="min-width:600px;width:70%;background:#f4f6f8;padding:40px;color:#424458;font-size:14px;">
          <div style="font-weight:bold;"><storng>我们又见面了。</storng></div>
          <br />
          一个月前，「财说」发出了第一封邮件，邀您成为这个新生互联网产品的首批用户。
          <br />
          <br />
          在接下来的时间里，「财说」收到了来自您的各种吐槽和建议，正是这些宝贵的反馈，让我们得以重新审视这个产品，并决定做出改变。非常感谢。
          <br />
          <br />
          一个月后，经过反复修改和测试，全新的「财说」又上线了。这一次，您看到的将是一个更加完善、激动人心的产品：新添了A股内容，把投资视野从海外拓展到了全球；多了「热点」板块，让您更容易发现时下热门组合和个股；增强了社交属性，方便您找到志同道合的投资牛人…
          <br />
          <br />
          惊喜功能还有很多，现在就来登录一一体验吧。
          <br />
          （使用上次注册的用户名密码登录即可）
          <br />
          <br />
          如果您在使用过程中遇到任何问题，可随时通过电话客服联系到我们
          <br />
          （财说专线：400-771-8858）或私信「财蜜」（扫描二维码添加）
          <br />
          <br />
          <img style="width:150px;" src="<%= Setting.html_host %>/images/QRcode.jpg">
          <br />
          <br />
          最后，再次感谢您对「财说」的信任和支持。
        </div>
        <div style="font-size: 18px;color: #424458;padding: 30px 0;">财说团队</div>
      </div>
    </div>
  </body>
</html>
