<%=content_for :header do %>
  <%= stylesheet_link_tag "/stylesheets/v3/investment.css" %>
<% end %>
<div class="container">
  <%= render :partial => "/shared/sub_menus/positions" %>
  
  <div class="content management">
    <h2>交易账号管理</h2>
    <div class="bindintro bindintro_a">
      <h1 class="center">交易功能即将开通，敬请期待。</h1>
      <table>
        <tr>
          <td><img src="../images/v2/crop_intro1.jpg" alt="UNICORNSecurities 益群證券" /></td>
          <td><img src="../images/v2/crop_intro2.jpg" alt="intro" /></td>
        </tr>
      </table>
    </div>
  </div>
</div>
