<!-- 非参赛用户，没组合 -->
<div class="itemBox userPanel">
    <div class="userInfo">
        <a class="avator avator_70">
          <%= image_tag current_user.avatar_url(:large) %>
          <span><%= current_user.username %>
              <em><%= current_user.headline %></em>
          </span>
        </a>
    </div>
    <dl class="basketInfo clearfix">
        <dt>
            <span>大赛平均收益</span>
            <strong><%= up_down_style(@contest.avg_ret, {postfix: "%", force_precision: 2}) %></strong>
        </dt>
        <dd>
            <button type="button" class="btn btn-blue btn-plus" onclick="javascript:window.open('/baskets/new');">创建组合</button>
            <label>创建自己的组合看看虚拟排名</label>
        </dd>
    </dl>
</div>