<%= render partial: "top" %>

<div class="container">
  <div class="itemBox clearfix">
    <div class="float-left rules">
                <h4>一、实盘大赛参赛指引</h4>
                <p style="padding-top:0"><a href="https://www.caishuo.com/articles/534" style="color:#04bbff;" target="_blank">点击查看详情</a></p>
              <h4>二、大赛实盘资金使用规则</h4>
              <p>
                1. 只能购买沪深A股及创业板股票，不能购买st股票；</br>
                2. 不能购买首日上市新股及不设涨跌幅限制的股票；</br>
                3. 单只股票最大可买数量为总资金的50%，即用户必须分仓操作；</br>
                4. 预警线10%，强行平仓线15%，预警线只能单项卖出；</br>
                5. 盈利30%归参赛者，70%计入资金池；</br>
                6. 停牌股票以停牌前的股价计算收益；</br>
                7. 比赛期间必须有2次30%以上的调仓；</br>
                8. 以活动最后1个交易日收盘价计算最终收益；</br>
                9. 最终以百分比计算收益；</br>
                10. 利用系统漏洞获取收益财说有权取消其参赛资格；</br>
              </p>
            </div>
    <div class="float-right reward">
      <h4>大赛奖励</h4>
      <%= image_tag "/images/ad/match_reward.png" %>
      <span>＊最终解释权归财说所有</span>
    </div>
  </div>
</div>