<%= render partial: "top" %>

<div class="container">
  <div id="tradeRecordList" class="itemBox tradeRecord clearfix">
      <h3>实时交易信息</h3>
      <% @order_details.in_groups_of(10, false).each do |group| %>
        <%= render partial: "trading_group", locals: {order_details: group} %>
      <% end %>
  </div>
</div>

<script type="text/javascript">
    (function (){
        window.setInterval(function(){
          loadTradingInfos();
        }, 5000);
    })();
</script>