<div class="sharebox">
	分享<br />
	<span class="sharing weixin">微信<code class="shareCode"><img src="<%= wechat_qr_code %>" alt="分享财说"></code></span><span class="weibo" onclick="javascript:share_to_sina_weibo(location.href, document.title);">微博</span>
</div>
