<%=content_for :header do %>
  <%= stylesheet_link_tag "/stylesheets/v3/column.css" %>
<% end %>

<%- @page_title = "财说专栏" -%>

<div class="container cai_column">
  
  <%= render :partial => 'suggests' %>
	
	<br />
  
  <%= render :partial => 'articles' %>
  
</div>

<script type="text/javascript">
  window.oncontextmenu = function(){return false;};
</script>