<h1 class="title">
  <span class="title_left">编辑Admin log页面</span>
  <span class="title_right">
    <%=link_to '详情', [:admin, @admin_log], style: 'margin-right: 10px;'%>
    <%=link_to '返回列表', admin_admin_logs_path %>
  </span>
</h1>

<%= render 'form' %>
