<h1 class="title">
 <span class="title_left"><%=@page_title%></span>
 <span class="title_right">
  <a href="/admin/hot_stocks/edit_all">修改</a>
  </span>
</h1>
<table class="grid">
  <thead>
    <tr>
      <th>id</th>
      <th>标题</th>
      <th>股票ids</th>
    </tr>
  </thead>
  <tbody>
    <% @hot_stocks.each_with_index do |hs, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= hs.title %></td>
        <td><%= hs.stock_ids %></td>
      </tr>
    <% end %>
  </tbody>
</table>
