<div class="container">
<form id="change_password_form" class="container" action="/mobile/account/password/update_password" method="post" onsubmit="return checkForm()">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <div class="logo"></div>
    <div id="errorTip">&nbsp;</div>
    <ul class="account">
        <li><input type="password" id="password0" name="old_password" placeholder="输入原密码" /><span class="empty" style="right:1.5em"></span><span class="view"></span></li>
        <li><input type="password" id="password1" name="password" placeholder="输入新密码" /><span class="empty" style="right:1.5em"></span><span class="view"></span></li>
        <li><input type="password" id="password2" name="password_confirmation" placeholder="输入确认密码" /><span class="empty" style="right:1.5em"></span><span class="view"></span></li>
    </ul>
    <dl class="confirm">
        <dd onclick="$('#change_password_form').submit()">修改密码</dd>
    </dl>
</form>
</div>
<script type="text/javascript">
    function checkForm(){
        var pass0 = $('#password0').val(), pass1 = $('#password1').val(), pass2 = $('#password2').val();
        if (!pass0.length){
            return showError('请输入当前使用的密码', 1800);
        }else if (!pass1.length){
            return showError('请输入新密码', 1800);
        }else if (pass1.length < 6 || pass1.length>20){
            return showError('密码控制在6-20位', 1800);
        }else if (!passParten.test(pass1)){
            return showError('密码不能包含特殊字符', 1800);
        }else if (!pass2){
            return showError('请输入确认密码', 1800);
        }else if (pass1 != pass2){
            return showError('两次输入密码不一致', 1800);
        }else{
            var error_code = false;
            $.ajax({
                url:  '/ajax/users/check_password?user%5Bpassword%5D='+pass0,
                type: 'GET',
                async: false,
                success: function(data){
                    error_code = data;
                }
            });
            if (!error_code) return showError('原密码输入错误');
        }
    }
</script>
