<form class="container" onsubmit="return false;">
	<div class="resetTip"><li>密码修改成功！正在跳转。。。</li></div>
</form>
<script type="text/javascript">
setTimeout(function(){window.location.href="/mobile/account/sessions/new"}, 3000);
</script>
