<% if @user && @user.reset_password_period_valid? %>
  <form class="container" id="password_by_email" action="/mobile/account/password/update_password_by_email" method="post" onsubmit="return checkForm()">
    <input name="reset_password_token" type="hidden" value="<%=params[:reset_password_token]%>" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <div class="resetTip padb80">请牢记您的新密码</div>
    <div id="errorTip">&nbsp;</div>
    <ul class="account">
        <li><input type="password" id="password" name="password" placeholder="输入新密码" /><span class="empty" style="right:1.5em"></span><span class="view"></span></li>
        <li><input type="password" id="password2" name="password_confirmation" placeholder="再次输入" /><span class="empty" style="right:1.5em"></span><span class="view"></span></li>
    </ul>
    <dl class="confirm">
        <dd onclick="$('form#password_by_email').submit()">重设密码</dd>
    </dl>
  </form>
<% else %>
  <div class="container">
    <div class="resetTip padbot">重置密码链接失效</div>
  </div>
<% end %>
<script type="text/javascript">
    function checkForm(){
        var pass1 = $('#password').val(), pass2 = $('#password2').val(), captcha = $('#captcha').val();
        if (!pass1){
            return showError('请输入密码', 1800);
        }else if (pass1.length < 6 || pass1.length>20){
            return showError('密码控制在6-20位', 1800);
        }else if (!passParten.test(pass1)){
            return showError('不能包含特殊符号', 1800);
        }else if (!pass2){
            return showError('请输入确认密码', 1800);
        }else if (pass1 != pass2){
            return showError('两次输入密码不一致', 1800);
        }else {
            var form = $('form#password_by_email')
            var valuesToSubmit = form.serialize();
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: valuesToSubmit,
                dataType: "JSON"
            }).success(function(data){
                if (data['status']){
                    window.location.href="/mobile/account/password/finish";
                } else {
                    return showError(data['msg'], 1800);
                }
            });
            return false;
        }
    }
</script>