<div>
  <div class="compare_title noBorder">
    <ol class="asSwitchBtn">
      <li data-target="tab_news" class="active">新闻</li>
      <li data-target="tab_notice">公告</li>
    </ol>
  </div>
  <div class="compare_area">
    <div class="tab_news">
      <table class="newsnotice j_news_table">
        <thead>
          <tr>
            <th>名称</th>
            <th width="120">来源</th>
            <th width="70">日期</th>
          </tr>
        </thead>
        <tbody>
          <!--ajax 请求远程新闻 -->
        </tbody>
      </table>
    </div>
    <div class="tab_notice">
      <table class="newsnotice j_notice_table">
        <thead>
          <tr>
            <th>报告名称</th>
            <th>证券代码</th>
            <th>公告类型</th>
            <th>年份</th>
            <th width="100">披露日期</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
