<div class="wrapper">
  <div id="header">
    <%= image_tag "/zt/F1778/attach/images/header.jpg" %>
    <a href="/?from=zxg_topic" class="gotosite"></a>
    <a href="/app?from=zxg_topic" class="download"></a>
  </div>
</div>