<h1 class="title">
  <span class="title_left">编辑Order detail页面</span>
  <span class="title_right">
    <%=link_to '详情', [:admin, @order_detail], style: 'margin-right: 10px;'%>
    <%=link_to '返回列表', admin_order_details_path %>
  </span>
</h1>

<%= render 'form' %>
