<nav class="SubDock">
  <a href="/users/stocks" class="<%= sub_menu_tab_class("stocks", @sub_menu_tab) %>">自选股票</a>
  <a href="/users/baskets" class="<%= sub_menu_tab_class("basket", @sub_menu_tab) %>">自选组合</a>
</nav>