<h1 class="title">
  <span class="title_left">编辑标签</span>
  <span class="title_right">
    <%=link_to '详情', [:admin, @tag_basis], style: 'margin-right: 10px;'%>
    <%=link_to '返回列表', admin_tag_groups_url %>
  </span>
</h1>

<%= render 'form' %>