-----BEGIN CERTIFICATE-----
MIIC7jCCAdagAwIBAgIJAMt64DIIuIgyMA0GCSqGSIb3DQEBBQUAMCcxFTATBgNV
BAMTDE15VGVzdFJvb3RDQTEOMAwGA1UEBxMFMTcyMjAwHhcNMTQwODExMDU0NzM1
WhcNMjQwODA4MDU0NzM1WjAnMRUwEwYDVQQDEwxNeVRlc3RSb290Q0ExDjAMBgNV
BAcTBTE3MjIwMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuaP0ULpJ
CGbRiCsrBxQnGizQI4F2HKMyq8KranOF8tKoBWEhxlNOggZOzncHgGcbqHx3DpWa
Dq08XNrVuFtOUflP/WyFRdJlzAb7bXo+aRGgMXHgpXDkoyDTEB4c6ChX8AYyvhCZ
JOBG7pc2gpCGhsaLFjhDy60fN34OxEQJJ4NO1CiNL4IvcfKmJVKZrENaGUYkylgx
3zKt7uTtYnlWDbKARX+VCfwdcdEinjLQZK4tIX3BeuaGPBwD0cVf2Of0j8Pm+I6k
a86Qdwp2Xbw3GGbR0T8aLWFpujU42kj6A/kF2lloLx2XuHJXlCbU7dsgtLPI0P08
/DI8GUqfxMJ4gQIDAQABox0wGzAMBgNVHRMEBTADAQH/MAsGA1UdDwQEAwIBBjAN
BgkqhkiG9w0BAQUFAAOCAQEABSIXx3nSw9KRbseQ6o3jp8LO19O1Az1G701Ibkwm
va3uUzizbIk+qRpUtazKk4ud9k2ipY8m5FCj8xLLez1sq0yAN3jXNeC4YKkzonxY
obAXKDje4dmJ3IaDJaUQBAzcEU2KoNwc+ju95e5zZAXOGmSOEkfa2RJLL4ujy+nt
NIKRp7rWTxyvmDmp+INXopUlpP+Fh5lauzNVwal/yZKzrxe7KYt1bmCM5VuZHySM
3Ohe3YKYD1faixOKiupWsaDAkkeSrXf6LUxiDx2KgoSHhzipO6mgejqutBvpEPp/
a684MIEq39UBj9lF/RplDmoIAn0XA3WRiaCAMh6LvohNzg==
-----END CERTIFICATE-----
