<ul>
  <span>活动规则：</span>
  <li>在2015年4月13日后注册【财说】账号的新用户，享受15天免佣金优惠。在2015年4月13日前已经注册【财说】账号的用户，享受30天免佣金优惠。</li>
  <li>活动期内用户通过【财说】交易美股，佣金全部免除；通过【财说】交易港股，最高可减免佣金88港币，佣金不足88港币的，按实际发生费用计算。</li>
  <li>活动结束后7个工作日内，活动期内的交易佣金由财说返还至用户绑定的交易账户中。</li>
  <li>如用户帐号遗失或被盗以致礼包权利被使用，财说网不另作任何补偿。</li>
  <li>财说网拥有本次活动最终解释权。若有疑问，可咨询财说客服热线 : 400-771-8858。</li>
</ul>
<a class="detail" href="/hongbao" target="_blank">礼包详情</a>
