<div class="container">
  <div class="content">
    <h2>重置密码</h2>
    <div class="reset-password register">
      <%=form_for @user || User.new, url: modify_reset_password_setting_index_path, method: :put, html: {id: 'reset_password_form'} do |f| %>
        <%=f.hidden_field :reset_password_token, value: params[:reset_password_token] %>  
      <dl>
        <dt>重置密码</dt>
        <dd>
          <%=f.password_field :password %>
          <span class="prompt" style="display:none;">6位以上任意字符、数字、标点（不包括空格）</span>
        </dd>

        <dt>确认密码</dt>
        <dd>
          <%=f.password_field :password_confirmation %>
        </dd>
        <dd>
          <input type="submit" value="确定" />
        </dd>
      </dl>
      <% end %>
    </div>
  </div>
</div>
