<h1 class="title">
 <span class="title_left"><%=@page_title%></span>
</h1>
<table class="grid_form">
  <tbody>
    <tr>
      <td class="field">RT系统:</td>
      <% if @drivers['fundway'].blank? %>
        <td>--</td>
      <% else %>
        <td>
        <%= @drivers['fundway']['status_name']%>
        </td>
      <% end -%>
      
    </tr>
    <tr>
      <td class="field">CTS系统</td>
      <td><%=@drivers['cts']||'--'%></td>
    </tr>
   
  </tbody>
</table>