<%= content_for :header do %>
  <%= stylesheet_link_tag "/stylesheets/v3/userEdit.css" %>
<% end %>
<%- @page_title = "关于我们" -%>
<div class="container clearfix userEdit aboutCS">
    <%= render :partial => "left_bar" %>
    
    <div class="rightBox">
        <h2>关于我们</h2>
        <div class="about_right">
           <p>财说是由华尔街投资银行资深人士与知名互联网企业高管团队创立，财说致力于为投资者提供一个安全、透明、诚信、低成本、使用方便的社交化网络投资交易平台，做到一个平台连接全球主流市场股票，债券，基金，理财等金融产品。</p>
           <br/>
           <p>越来越多行业都在经历"线下"到"线上"的转变，财说深刻的认识到，证券投资行业中信息及渠道的不对称现象必将随着的互联网的改革浪潮逐渐褪去。随着中国综合国力的崛起和中国投资者对全球化投资的需求，我们有责任为每一位投资者提供一个使用方便、信息畅通并囊括海内外主流市场的全球投资平台，通过互联网的优势帮助个体投资者获得过去大型金融机构独享的投资信息和渠道。</p>
           <h5>产品及服务</h5>
           <p>基于与海内外知名证券公司合作，财说的产品首先解决了用户一站式投资全球股票的需求。其次通过对全球财经咨询的深度加工，财说重点推出了主题投资概念的股票组合，以方便投资者对投资思路的整理和归纳。另外财说精心打造了帮助投资者鉴别股票基本面的个股筛选工具。</p>
           <br/>
           <p>同时财说将向合格用户提供短期高收益固定收益类产品，以及世界知名对冲基金产品。</p>
           <h5>财说交易平台提供</h5>
           <p>全世界所有主要股票交易市场的股票（包括A股、美股和港股）、债券及可交易基金的交易；<br />海外市场组合投资及各类投资组合的买卖；<br />海外固定收益类，公募基金及对冲基金类理财产品。<br />财说的战略合作券商提供最低的交易佣金，以美股交易为例，美国主流网络券商交易佣金约10美金上下，中国券商约30美金上下，财说致力于改变现状并为每一位投资者提供最优惠的价格。</p>

           <h5>目标</h5>
           <p>财说的目标是打造中国人最喜爱使用的全球投资平台，帮助投资者获取更全面的资讯并完成一站式交易，力争成为中国人的全球投资门户。</p>
           <h5>资质</h5>
           <p>财说长期与海内外知名券商，银行与资产管理公司合作。</p>
           <br/>
           <p>财说创始人员拥有香港证监会要求的证券负责人资质和A股证券从业资格和多年国内证券从业经验。</p>
           <h5>主创团队</h5>
           <p>财说主创团队拥有丰富的金融市场及互联网经验，主要团队成员来自：高盛集团，瑞士银行，花旗银行，腾讯，谷歌，彭博等金融及互联网机构。</p>
           <h5>合作投资机构</h5>
           <p>基于合理的定位和新颖的组合投资概念，财说拥有新东方联合创始人徐小平先生旗下的真格基金、专注于中国长期价值投资的IDG资本的战略投资。</p>
        </div>
    </div>
</div>