<%= content_for :header do %>
  <%= stylesheet_link_tag "/stylesheets/v3/userEdit.css" %>
<% end %>
<%- @page_title = "如何办理香港银行卡" -%>
<div class="container userEdit clearfix contactUs">
  <%= render :partial => "left_bar" %>
  <div class="rightBox">
    <h2>开户指引</h2>
    <div class="about_right account_guide">
      <%= render 'account_banner' %>
      <h5>向您的账户存入/提取资金，您可以使用使用香港银行卡。</h5>
      <h5>如何在大陆办理香港银行卡？</h5>
      <div>
        <h5>A.无论你在哪家银行办理香港银行卡，都需要提供以下资料，请提前准备好。</h5>
        <p>1.中国公民身份证</p>
        <p>2.港澳通行证/护照</p>
        <p>3.有效的地址证明（可以为水电煤、信用卡账单、居住证、户口本，除户口本外其余的地址证明上的日期均需三个月内）</p>
        <p>*各银行对于港澳通行证/护照的有效期要求不同，一般是三个月或半年，具体要求请咨询银行客服。</p>
        <p>*如果你没有港澳通行证或护照，别着急，拿上户口本、身份证去当地县级以上出入境管理局办理就好了，一般15个工作日就可以拿到。</p>
        <br>
        <h5>B.电话预约银行，携带资料亲临银行网点，开通账户。</h5>
        <p>*并不是每个城市的营业网点都可以办理香港银行卡。建议先拨打银行客服电话，询问哪里的营业网点可以办理。</p>
        <p>*办卡的时候请提醒柜员，将第三方转帐的权限放开，并且将转帐的限额提高。</p>
        <p>*各银行卡都有相应的冻结期限，一般为2年。一些银行的冻结期限较短，请特别留意。</p>
      </div>
      <h5>以下是一些提供内地居民香港银行卡办理服务的银行</h5>
      <h5>1.工银亚洲“综合账户”</h5>
      <div>
        <p>领卡时间：提交资料后会收到电话确认，7～10个工作日后收到邮寄卡片。</p>
        <p>服务费用：工银亚洲初始提款卡减免年费。之后网银申请的提款卡每张年费50人民币(带人民币账户的)或50港币(不带人民币账户的)。</p>
        <p>汇款费用：大陆工行通过网银向工银亚洲综合账户汇款币种不限，手续费一次25元。境外汇款统一收费一次140港币。</p>
        <p>客服电话 95588</p>
      </div>
      <h5>2.建银亚洲陆港通卡</h5>
      <div>
        <p>领卡时间：内地卡2周，建银亚洲卡4周。</p>
        <p>服务费用：初始陆港通卡年费50人民币，之后网银申请的各种银联双币卡都是年费50港币。</p>
        <p>汇款费用：陆港通卡大陆向香港电汇港币，（只能是港币）即时到账，手续费1‰，最低20。</p>
        <p>境外汇款手续费一笔80~100港币。</p>
        <p>客服电话：95533</p>
      </div>
      <h5>3.招商银行“香港一卡通”</h5>
      <div>
        <p>办理条件：在招行资产5万元以上，即金卡用户。</p>
        <p>领卡时间：半个月到一个月</p>
        <p>服务费用：账户激活后，前三个月免费，第四个月开始扣费。纸质结单客户：15HKD/月，电子结单客户：8HKD/月。存款超过10万HKD，则免账户管理费。</p>
        <p>多久冻结：新卡激活后在2个月内，需通过同名账户存入一笔资金，不限金额，否则账户会被冻结。</p>
        <p>客服电话：95555</p>
      </div>
      <h5>4.渣打银行</h5>
      <div>
        <p>开户资金：1000港币</p>
        <p>领卡时间：可自行去分行领卡，约等待1个星期；如果需要寄到内地的地址，一般2-3个礼拜，较偏远的约1个月。</p>
        <p>服务费用：普通综合户口，平均每日最低结余1万港币，不足者按季度收取120港币。</p>
        <p>多久冻结：10个月不使用会冻结</p>
        <p>客服电话：800-820-8088</p>
      </div>
      <h5>5.汇丰银行</h5>
      <div>
        <p>开户资金：1000港币上</p>
        <p>领卡时间：约4个工作日后可自行去分行领卡，寄到内地约1个</p>
        <p>服务费用：明智理财，平均每日最低结余1万港币，不足者收取60港币/月；运筹理财，平均每日最低结余20万港币，不足者收取120港币/月；卓越理财，平均每日最低结余100万港币，不足者收取380港币/月。</p>
        <p>客服电话：800-830-2880</p>
      </div>
      <h5>6.恒生银行</h5>
      <div>
        <p>开户资金： 5000港币或 10000港币</p>
        <p>领卡时间：约2-3个礼拜（为了确认内地住址，通常会将卡或者密码纸寄到内地住址）</p>
        <p>服务费用：简化版综合账户，平均每日最低存款5000港币，不足者收取50港币/ 月；综合账户（含支票户口），平均每日最低存款10000港币，不足者收取60港币/ 月</p>
        <p>客服电话：400-120-8288</p>
      </div>
      <h5>7.中银香港</h5>
      <div>
        <p>开户资金：1000港币</p>
        <p>领卡时间： 1个礼拜后寄出，可直接去分行领取，寄去内地约1个月</p>
        <p>服务费用：平均每日最低结余10000港币，不足者收取60港币/月，从第三个月开始计算</p>
        <p>客服电话：400-800-388</p>
      </div>
    </div>
  </div>
</div>
