<%= content_for :header do %>
  <%= stylesheet_link_tag "/stylesheets/v3/userEdit.css" %>
<% end %>
<%- @page_title = "股市常识" -%>
<div class="container userEdit clearfix contactUs">
  <%= render :partial => "left_bar" %>
  <div class="rightBox">
    <h2>股市常识</h2>
    <div class="about_right">
      <h3>美股市场</h3>
      <h5>美股的交易时间</h5>
      <p>美国东部时间（EDT）：周一至周五 9：30～16：00<br />美夏令时：北京时间（21：30～4：00）<br />非夏令时：北京时间（22：30～5：00）<br />补充说明：<br />美国从每年4月到11月初采用夏令时，这段时间其交易时间为北京时间晚9：30－次日凌晨4：00；而在11月初到4月初，采用冬令时，则交易时间为北京时间晚10：30－次日凌晨5：00</p>
      <h5>美股的最小交易单位是多少？</h5>
      <p>不同于A股和港股，美股是没有“手”的概念的，最小交易单位是1股。</p>
      <h5>美股当天买入可以立即卖出吗？</h5>
      <p>可以，美股实行T+0交易制度，当天买入的股票可以当天卖出，适合短线交易。<br />投资者在买入之后，发现判断失误，可以及时卖出，避免风险和损失扩大。</p>
      <h5>美股涨跌幅有限制吗？</h5>
      <p>不同于A股，美股和港股都没有单日涨跌幅限制，因此投资者也需要控制风险。</p>
      <h5>美股结算交收机制是怎样的？</h5>
      <p>美股实行的是T+3交割制度，即交易发生后第三个工作日才能完成清算交割。</p>
      <h5>什么是普通交易（限价交易）？</h5>
      <p>【可下单时间】美东时间8：10-16：00<br />（美国有夏令时和冬令时，美国夏令时8：10为中国晚上20：10；冬令时为中国晚上21：10)<br />【对盘时间】美东时间 9：30-16：00<br />（美国有夏令时和冬令时，美国夏令时是中国晚上21：30-至凌晨4：00，冬令时是晚上22：30-凌晨5：00）</p>
      <h5>什么是市价交易？</h5>
      <p>市价交易即美股标准订单中的市价单，不需要指定价格，以目前的市场价格买入或者卖出<br />【可下单时间】美东时间8：10-16：00<br />（美国有夏令时和冬令时，美国夏令时8：10为中国晚上20：10；冬令时为中国晚上21：10)<br />【对盘时间】美东时间 9：30-16：00<br />（美国有夏令时和冬令时，美国夏令时是中国晚上21：30-至凌晨4：00，冬令时是晚上22：30-凌晨5：00）</p>
      <h5>什么是条件交易？</h5>
      <p>条件交易即美股标准订单中的止损/止盈限价单，需要输入一个固定的止损/止盈价格（触发价）；一旦达到触发价，将会以设置的订单价格和数量发送到市场上（相当于自动提交一个美股限价单）<br />【可下单时间】任何时间<br />【有效时间】最长两周；只在正常交易时段触发，盘前盘后时段不会触发</p>
      <h5>什么是跟踪止损交易？</h5>
      <p>跟踪止损订单是一种更高级的条件单，需要指定尾随金额，以便制造出移动的止损价。这种条件单的止损价（触发价）会随着股价的上涨而不断调整，直到下跌时击穿触发；一旦达到触发价，可以指定市价卖出或者是指定价格卖出。<br />【可下单时间】任何时间<br />【有效时间】最长两周；只在正常交易时段触发，盘前盘后时段不会触发</p>
    </div>
  </div>
</div>