<%= content_for :header do %>
  <%= stylesheet_link_tag "/stylesheets/v3/userEdit.css" %>
<% end %>
<%- @page_title = "常见术语" -%>
<div class="container userEdit clearfix contactUs">
    <%= render :partial => "left_bar" %>
    
    <div class="rightBox">
      <h2>常见术语</h2>
      <div class="about_right">
          <h5>多头</h5>
          <p>多头是指投资者对股市看好，预计股价将会看涨，于是趁低价时买进股票，待股票上涨至某一价位时再卖出，以获取差额收益。一般来说，人们通常把股价长期保持上涨势头的股票市场称为多头市场。多头市场股价变化的主要特征是一连串的大涨小跌。</p>
          <h5>空头</h5>
          <p>空头是投资者和股票商认为现时股价虽然较高，但对股市前景看坏，预计股价将会下跌，于是把借来的股票及时卖出，待股价跌至某一价位时再买进，以获取差额收益。采用这种先卖出后买进、从中赚取差价的交易方式称为空头。人们通常把股价长期呈下跌趋势的股票市场称为空头市场，空头市场股价变化的特征是一连串的大跌小涨。</p>
          <h5>开高</h5>
          <p>今日开盘价在昨日收盘价之上。</p>
          <h5>开平</h5>
          <p>今日开盘价与昨日收盘价持平。</p>
          <h5>开低</h5>
          <p>今日开盘价在昨日收盘价之下。</p>
          <h5>套牢</h5>
          <p>是指进行股票交易时所遭遇的交易风险。例如投资者预计股价将上涨，但在买进后股价却一直呈下跌趋势，这种现象称为多头套牢。 相反，投资者预计股价将下跌，将所借股票放空卖出，但股价却一直上涨，这种现象称为空头套牢。</p>
          <h5>线</h5>
          <p>将股市的各项中的同类数据表现在图表上，作为行情判断基础的点的集合。如Ｋ线，移动平均线等。</p>
          <h5>趋势</h5>
          <p>股价在一段时间内朝同一方向运动，即为趋势。</p>
          <h5>涨势</h5>
          <p>股价在一段时间内不断朝新高价方向移动。</p>
          <h5>跌势</h5>
          <p>股价在一段时间内不断朝新低价方向移动。</p>
          <h5>盘整</h5>
          <p>股价在有限幅度内波动。</p>
          <h5>压力线</h5>
          <p>股价在涨升过程中，碰到某一高点（或线）后停止涨升或回落，此点（或线）称为压力点（或线）。</p>
          <h5>支撑线</h5>
          <p>股市受利空信息的影响，股价跌至某一价位时，做空头的认为有利可图，大量买进股票，使股价不再下跌，甚至出现回升趋势。股价下跌时的关卡称为支撑线。</p>
          <h5>关卡</h5>
          <p>股市受利多信息的影响，股价上涨至某一价格时，做多头的认为有利可图，便大量卖出，使股价至此停止上升，甚至出现回跌。股市上一般将这种遇到阻力时的价位称为关卡，股价上升时的关卡称为阻力线。</p>
          <h5>突破</h5>
          <p>股价冲过关卡或上升趋势线。</p>
          <h5>跌破</h5>
          <p>股价跌到压力关卡或上升趋势线以下。</p>
          <h5>反转</h5>
          <p>股价朝原来趋势的相反方向移动分为向上反转和向下反转。</p>
          <h5>探底</h5>
          <p>寻找股价最低点过程，探底成功后股价由最低点开始翻升。</p>
          <h5>底部</h5>
          <p>股价长期趋势线的最低部分。</p>
          <h5>头部</h5>
          <p>股价长期趋势线的最高部分。</p>
          <h5>高价区</h5>
          <p>多头市场的末期，此时为中短期投资的最佳卖点。</p>
          <h5>低价区</h5>
          <p>多头市场的初期，此时为中短期投资的最佳买点。</p>
          <h5>买盘强劲</h5>
          <p>股市交易中买方的欲望强烈，造成股价上涨。</p>
          <h5>卖压沉重</h5>
          <p>股市交易中持股者争相抛售股票，造成股价下跌。</p>
          <h5>超买</h5>
          <p>股价持续上升到一定高度，买方力量基本用尽，股价即将下跌。</p>
          <h5>超卖</h5>
          <p>股价持续下跌到一定低点，卖方力量基本用尽，股价即将回升。</p>
          <h5>牛市</h5>
          <p>股票市场上买入者多于卖出者，股市行情看涨称为牛市。形成牛市的因素很多，主要包括以下几个方面：A经济因素：股份企业盈利增多、经济处于繁荣时期、利率下降、新兴产业发展、温和的通货膨胀等都可能推动股市价格上涨。B政治因素：政府政策、法令颁行、或发生了突变的政治事件都可引起股票价格上涨。C股票市场本身的因素：如发行抢购风潮、投机者的卖空交易、大户大量购进股票都可引发牛市发生。</p>
          <h5>熊市</h5>
          <p>熊市与牛市相反。股票市场上卖出者多于买入者，股市行情看跌称为熊市。引发熊市的因素与引发牛市的因素差不多，不过是向相反方向变动。</p>
          <h5>利多</h5>
          <p>利多是指刺激股价上涨的信息，如股票上市公司经营业绩好转、银行利率降低、社会资金充足、银行信贷资金放宽、市场繁荣等，以及其他政治、经济、军事、外交等方面对股价上涨有利的信息。</p>
          <h5>利空</h5>
          <p>利空是指能够促使股价下跌的信息，如股票上市公司经营业绩恶化、银行紧缩、银行利率调高、经济衰退、通货膨胀、天灾人祸等，以及其他政治、经济军事、外交等方面促使股价下跌的不利消息。</p>
          <h5>回档</h5>
          <p>在股市上，股价呈不断上涨趋势，终因股价上涨速度过快而反转回跌到某一价位，这一调整现象称为回档。一般来说，股票的回档幅度要比上涨幅度小，通常是反转回跌到前一次上涨幅度的三分之一左右时又恢复原来上涨趋势。</p>
          <h5>反弹</h5>
          <p>在股市上，股价呈不断下跌趋势，终因股价下跌速度过快而反转回升到某一价位的调整现象称为反弹。一般来说，股票的反弹幅度要比下跌幅度小，通常是反弹到前一次下跌幅度的三分之一左右时，又恢复原来的下跌趋势。</p>
          <h5>整理</h5>
          <p>股市上的股价经过大幅度迅速上涨或下跌后，遇到阻力线或支撑线，原先上涨或下跌趋势明显放慢，开始出现幅度为15％左右的上下跳动，并持续一段时间，这种现象称为整理。整理现象的出现通常表示多头和空头激烈互斗而产生了跳动价位，也是下一次股价大变动的前奏。</p>
          <h5>轧空</h5>
          <p>即空头倾轧空头。股市上的股票持有者一致认为当天股票将会大下跌，于是多数人却抢卖空头帽子卖出股票，然而当天股价并没有大幅度下跌，无法低价买进股票。股市结束前，做空头的只好竞相补进，从而出现收盘价大幅度上升的局面。</p>
          <h5>涨跌幅限制</h5>
          <p>制定股票价格涨跌幅限制的目的，是防止股价剧烈波动，维护证券市场的稳定，保护中小投资者的利益。经中国证监会同意，上海、深圳两交易所自1996年 12月 16日起，分别对上市交易的股票（含A、B股）、基金类证券的交易实行价格涨跌幅限制，即在一个交易日内，除上市首日证券外，上述证券的交易价格相对上一交易日收市价格的涨跌幅度不得超过10 %；超过涨跌限价的委托为无效委托。目前，在我国证券市场上许多人将涨跌幅限制制度与涨跌停板制度混为一谈。实际上，涨跌幅限制是一种委托价格下限制，再证券价格达到波动限制时，并不停止交易，只是越过波动范围的委托为无效委托。而在涨跌停板制度下，证券价格达到波动限制时，就立即暂停交易。</p>
      </div>
    </div>
</div>