<!--保存状态-->
<div class="saveing save-success" style="display:none;"></div>
<div id="dialogReset">
  <!--带返回的提示框-->
  <div id="dialog" title=""></div>
  <!--不带返回的提示框-->
  <div id="noticebox" title=""></div>

  <%= yield :dialog_div %>
</div>