<div id="CopyRight">
  <%= link_to '触屏版', "http://#{$mobile_domain}", class: 'active' %>
  <%= link_to '电脑版', @pc_link || Setting.host %>
  <div>&copy;2015 CAISHUO. All Rights Reserved</div>
</div>
<script type="text/javascript">
   $('<div id="gotoSiteTop"/>').appendTo('body').windowGoTop();
</script>
