<div class="market-status-panel">
  <ul class="market-list">
    <li>标普500:<span></span><span></span></li>
    <li>道琼斯:<span></span><span></span></li>
    <li>纳斯纳克:<span></span><span></span></li>
    <li class="with-divider-line">港股即将覆盖</li>
  </ul>
</div>

