<header>
  <div class="container">
    <div class="SiteMenu">
      <a id="SiteLogo" href="/">财说</a>
      <a href="/topics">头条</a>
      <a href="/baskets">投组合</a>
      <a href="/stocks">选个股</a>
      <a href="/articles">专栏</a>
      <a href="/app?from=header" id="downapp">下载移动版</a>
      <a href="/about/about_us">关于财说</a>
    </div>
  </div>
</header>
