<footer>
  <div class="container">
  <nav><a href="https://www.caishuo.com/about/contact_us">联系我们</a> <a href="https://www.caishuo.com/about/join_us">加入我们</a> <a href="https://www.caishuo.com/about/guide">使用帮助</a> <a href="https://www.caishuo.com/about/feedback">问题反馈</a></nav>
  <div class="serviceWindow">
  ©2015 &nbsp; 财说. All Rights Reserved | 京ICP备 14040976号-1 | 京公网安备 110108008136号 | 客服热线：400-771-8858<a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAxOTgxM18yNDMxODJfNDAwNzcxODg1OF8yXw">
    <%= image_tag "/zt/images/qq.png", alt: "QQ" %></a></div>
  <strong>声明：期权、期货、外汇、股票、外国资产和债券等金融产品投资的风险可能是巨大的。证券及衍生产品交易不适合所有投资者。本网站提供的信息来自第三方用户及机构，本网站对信息真实性，及时性以及全面性不承担任何责任。本网站不提供证券交易或理财产品购买等交易服务，用户交易由在香港证监会取得合法有效牌照的香港合作机构完成。本网站仅提供证券，理财及相关金融市场第三方信息平台服务。</strong>
  </div>
</footer>
<%= render '/shared/analytics' -%>